.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f7dea; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    
}
  
.nav link {
    text-decoration: none;
    font-size: 18px;
    color: #000; 
}
  
.logout-icon {
    font-size: 24px;
    cursor: pointer;
    color: #ff0000;
}
  