
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px*/
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ebe7e7af;
  font-size: 2rem;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
